<!--- ﾒｰｯｾｰｼﾞ一覧 --->
<table class="table table-striped table-bordered table-sm text-center table_common table-star">
  <thead class =  "thead-light text-dark">
    <tr>
      <th class='table-star__first-child'>マーク</th>
      <th class='table-star__second-child'>No.</th>
      <th class='table-star__third-child'><%= sort_link(@search_star_messages, :title, 'タイトル') %></th>
      <th class='table-star__fourth-child'><%= sort_link(@search_star_messages, :user, '投稿者') %></th>
      <th class='table-star__fifth-child'><%= sort_link(@search_star_messages, :created_at, '投稿日') %></th>
      <th class='table-star__sixth-child'>削除</th>
    </tr>
  </thead>

  <% i = 0 %>
  <% @star_messages.each do |message| %>
    <tbody>
      <tr>
        <td>
          <%= link_to message_stars_path(message.id),method: :delete do %>
            <%= fa_icon 'check', class: "btn-star star_out" %>
          <%end%>
        </td>
        <td><%= i += 1  %></td>
        <% if message.title == "" %>
          <td><%=link_to 'タイトルなし', message_path(message.id)%></td>
        <% else %>
          <td><p class='table-star__first-text'><%=link_to message.title, message_path(message.id)%></p></td>
        <% end %>
        <td><%= message.user.name %></td>
        <td><%= message.created_at.strftime('%y/%m/%d') %></td>
        <% if message.user.id == current_user.id %>
          <td><%=link_to '削除', message_path(message.id) ,method: :delete, remote: true, class: 'delete' %></td>
        <%else%>
          <td></td>
        <%end%>
      </tr>
    </tbody>
  <%end%>
</table>

<!--- ﾍﾟｰｼﾞﾈｰｼｮﾝ --->
<div>
  <%= page_entries_info @star_messages %>
  <%= paginate @star_messages %>
</div>