<head>
<title>ﾒｯｾｰｼﾞ作成</title>
</head>


<body>
<div class="container">
  <%= form_for @message do |f| %>
    <div class = "nice-wrap_title">
      <%= f.label :title, '【タイトル】',class: "nice-label_title", id: 'title'%>
      <%= f.text_field :title, :size=>"60",class: "nice-textbox_title", id: 'body'%>
    </div>
    <div>
    <div class = "nice-wrap">
      <%= f.label :body, '【メッセージ】',class: "nice-label"%>
      <%= f.text_area :body, :size =>'85x15', :maxlength => "5000",class: "nice-textbox"%>
    </div><br><br><br><br><br><br><br><br><br>
    <div>
      <%= f.label :images,"添付" %>
      <%= f.file_field :images, class: 'btn image_form', multiple: true %>
      <p><span id='count'></span>/5000文字まで</p>
      <%= f.submit '展開', class: 'btn'%>
    
    <div class='img_prev'>
      <% if @message.images.attached? %>
        <% @message.images.each do |image| %>
          <% if image.filename.to_s =~ /\.jpeg$|\.jpg$|\.gif$|\.png$|\.bmp$/ %>
            <%= image_tag(image , height: '20')%>
          <% elsif image.filename.to_s  =~ /\.mp4$|\.wmv$|\.avi$|\.mov$/  %>
            <%= image_tag(image.preview(resize: "100x100>")) %>
          <%else%>
            <%= image_tag("file_icon.png", height: '20') %>
          <%end%>
          <%= image.filename %>
        <% end %>
      <% end %>
    </div>
    </div>
  <%end%>
</div>
</body>