<head>
<title>ﾒｯｾｰｼﾞ作成</title>
</head>


<body>
  <%= form_for @message do |f| %>
    <%= f.label :title, '標題' %>
    <%= f.text_field :title, :size=>"60"%>
    <%= f.label :body, '内容'%>
    <%= f.text_area :body, :size =>'80x15', :maxlength => "5000"%>
    <%= f.label :images,"添付" %>
    <%= f.file_field :images, multiple: true %>
    <%= f.submit '展開'%>
  <%end%>
</body>