<head>
<title>ﾒｯｾｰｼﾞ詳細</title>
</head>


<body>
  <% if @message.title == "" %>
    <%= 'ﾀｲﾄﾙなし' %>
  <%else%>
    <%= @message.title %>
  <%end%>

  <!--- 改行とか反映される --->
  <%= simple_format(@message.body)%>

  <!--- ｺﾒﾝﾄﾌｫｰﾑ(ajax) --->
  <%= current_user.name %>
  <%= form_with @comment, url:  message_comments_path(@message) , method: :post, html: { multipart: true}, remote: true do |f| %>
    <%= f.text_area :content, :size=>"80x6", :maxlength => "5000" %>
    <%= f.hidden_field :message_id, :value => @message.id %>
    <%= f.hidden_field :host_id, :value => current_host.id %>
    <%= f.hidden_field :user_name, :value => current_host.name %><br>
    <%= f.submit 'コメント' %>
  <%end%>

  <!--- ｺﾒﾝﾄ一覧(ajax) --->
  <table class ="table", id = "comments">
    <%= render @comments %>
  </table>

</body>