<tr>
  <td>
    <!--- ｺﾒﾝﾄ --->
    <div class='comment'>
      <div class='comment_info'>
        <%= "#{comment.id}: " %><%= comment.user_name %>
        &nbsp;&nbsp;<%='コメント日:' %></span><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
      </div>
      <%= simple_format(comment.content,class: 'comment_content') %>
      <!--- 添付ﾌｧｲﾙ表示 --->
      <div class='comment_image'>
        <% if comment.images.attached? %>
          <% comment.images.each do |image| %>
            <% if image.filename.to_s =~ /\.jpeg$|\.jpg$|\.gif$|\.png$|\.bmp$/ %>
              <%=link_to image_tag(image , height: '20'), (rails_blob_path(image, disposition: "attachment"))%>
            <% elsif image.filename.to_s  =~ /\.mp4$|\.wmv$|\.avi$|\.mov$/  %>
              <%=link_to image_tag(image.preview(resize: "50x50>")), (rails_blob_path(image, disposition: "attachment")) %>
            <%else%>
              <%=link_to image_tag("file_icon.png", height: '20'), (rails_blob_path(image, disposition: "attachment")) %>
            <%end%>
            <%= image.filename %>
          <%end%>
        <%end%>
      </div>
      
      <% if current_user.id == comment.user.id %>
        <%= link_to '削除',message_comments_path(:message_id => comment.message.id, :id => comment.id) ,method: :delete, remote: true, class: 'delete_comment'%>
      <%end%>
    </div>
  </td>
</tr>