<head>
<title>ホーム画面</title>
</head>


<body>
<div class='home__star-menu'>
  <div class='star_message_container'>
    <h2 class='star_message_container__h2'>マークしたメッセージ一覧</h2>
    <!--- 検索ﾌｫｰﾑ表示/非表示 --->
    <button id = 'form_show_star' class= 'btn'>詳細検索</button>
  </div>
    <!--- 検索ﾌｫｰﾑ --->
    <div id = 'content_form_star', style="display:none" class = 'off'>
      <%= search_form_for @search_star_messages, url: messages_path do |f| %>
        <%= f.search_field :title_or_body_or_user_name_or_comments_content_cont%>
        <%= f.label 'を含む(標題,本文,投稿者,ｺﾒﾝﾄの文で検索)' %>
        <%= f.submit '検索',:class => 'btn'%>
      <%end%>
    </div>
    <div class='home__table-star'>
      <%= render "messages/indexstar" %>
    </div>
</div>
<!--- タブ表示 --->
<ul class = 'tab_ul'>
    <li class='tab_li'><a href="#tab1" class="current tab_a">全体説明</a></li>
    <li class='tab_li'><a class='tab_a' href="#tab2">ユーザ管理</a></li>
    <li class='tab_li'><a class='tab_a' href="#tab3">メッセージ</a></li>
    <li class='tab_li'><a class='tab_a' href="#tab3">帳票管理</a></li>
    <li class='tab_li'><a class='tab_a' href="#tab3">伝票照合</a></li>
</ul>
  <div id="contents">
    <div id="tab1">
      <p><strong>01</strong></p>
      <p>
        <h2>概要説明</h2><br>
        &nbsp;&nbsp;<h3>・ユーザ管理</h3><br>
         &nbsp;&nbsp;&nbsp;&nbsp;-ユーザ一覧確認<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-ユーザ編集(本人の場合)<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-ユーザ削除(管理者の場合)<br>
        &nbsp;&nbsp;<h3>・メッセージ機能</h3><br>
         &nbsp;&nbsp;&nbsp;&nbsp;-メッセージ展開<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-メッセージへファイル添付(複数可)<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-メッセージへコメント可能<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-メッセージをマーク可(マークしたメッセージはホームへ表示される)<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-検索機能(標題・タイトル・本文・コメントから検索ワードが含まれているものを表示)<br>
        &nbsp;&nbsp;<h3>・帳票管理</h3><br>
         &nbsp;&nbsp;&nbsp;&nbsp;-マスター帳票登録<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-マスター帳票を更新していき改定履歴管理<br>
        &nbsp;&nbsp;<h3>・伝票照合</h3><br>
         &nbsp;&nbsp;&nbsp;&nbsp;-伝票照合時、同一または、違う種類の場合不正解音が鳴ります<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-照合結果一覧表示<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-照合結果CSV出力(日付ごと出力することも可能)<br>
         &nbsp;&nbsp;&nbsp;&nbsp;-QRコード生成(複数可)<br>
      </p>
    </div>
    <div id="tab2">
      <p><strong>02</strong></p>
      <p>
        ・ユーザー管理機能使い方
        &nbsp;&nbsp;&nbsp;&nbsp;- ユーザーを自分で作成することができます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- ユーザーを登録・削除・編集することが出来ます<br>
      </p>
    </div>
    <div id="tab3">
      <p><strong>03</strong></p>
      <p>
        ・メッセージ機能使い方
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージが送れます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージに対してファイルが添付出来ます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージに対してコメントが打てます（ファイル添付も可）<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- 表示されているメッセージをCSV出力出来ます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- メッセージをマーク（お気に入り）登録出来ます<br>
        &nbsp;&nbsp;&nbsp;&nbsp;- 自分が送信したメッセージにだけソートできます<br>
      </p>
    </div>
  </div>
</body>