<head>
<title>改定帳票作成</title>
</head>

<body>
  <h2>帳票更新</h2>
  <% if @childform.errors.any? %>
    <% @childform.errors.full_messages.each do |message| %>
      <%= message %>
    <%end%>
  <%end%>
  <%= form_with(model: @childform, local: true, url: parentform_childforms_path, class:'child_form') do |f| %>
    <p>
      <%= f.label :name, ' 帳票名　:' %>
      <%= f.text_field :name ,value:@parentform.name, readonly: true%>
    </p>
    <p>
      <%= f.label :user_name, ' 登録者　:' %>
      <%= f.text_field :person, value:@current_user.name, readonly: true%>
    </p>
    <p>
      <%= f.label :revision, '改定符号:' %>
      <%= f.text_field :revision %>
      <% if @parentform.child_forms[0] != nil %>
        <%= '最新改定符号:' + @parentform.child_forms.last.revision %>
      <%end%>
    </p>
      <%= f.label :reson, '改定理由:' %>
      <%= f.text_field :reson %>
    <p>
    </p>
    <p><%= f.file_field :image %></p>
    <%= f.submit '登録', class: 'btn' %>
  <%end%>
</body>