<!DOCTYPE html>
<html>
  <head>
    <title>TwitterMerukari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if @current_user then%>
      <%= link_to 'ﾕｰｻﾞ一覧', users_path %>
      <%= link_to 'ﾕｰｻﾞ登録', new_user_path %>
    <%end%>
    <%= yield %>
  </body>
</html>
